body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-color: #000000;
    color: white;
}

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 3s linear infinite;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #b309ec;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #00e658;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #e6001f;
    }
}
.ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
    border-radius: 50%;
}
span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out linear infinite;
}

@keyframes text {
    50%{
        color: black;
    }
    
}